html,body{
    margin : 0;
    height:100%;
    overflow: auto;

}
body {
    margin: 30px;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Wrapper */
.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
}

/* Overlay */
.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40,57,101,.9);
}

/* FIXED: removed rotateY logic */
.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;          /* changed */
    transform: none;             /* changed */
    backface-visibility: visible;/* changed */
    transition: all .4s linear;
}

/* Keep these hidden (not used in React, but unchanged) */
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

/* Tabs */
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    color: #aaa;
}

/* Active tab */
.login-html .sign-in-tab {
    color: #fff;
    border-color: #1161ee;
}

/* Form */
.login-form {
    min-height: 345px;
    position: relative;
    perspective: none;        /* changed */
    transform-style: flat;    /* changed */
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .label {
    font-size: 12px;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
}

.login-form .group .input {
    outline: none;
}

.login-form .group .button {
    background: #1161ee;
    cursor: pointer;
}

.login-form .group .button:hover {
    background: #0d4fd6;
}

/* Divider */
.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255,255,255,.2);
}
